.footer-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 30px 50px;
  height: 200px;
  background-color: #151e46;
  color: #fff;

  a {
    color: #eee;
  }
}

.page-links,
.social-media {
  h3 {
    text-align: center;
    margin: 10px auto 20px;
  }

  ul {
    display: grid;
    justify-items: flex-start;
    align-content: flex-start;
  }
}

.page-links {
  position: relative;
  ul {
    grid-template-columns: repeat(1, 1fr);
  }
}

.page-links::before,
.page-links::after {
  content: "";
  position: absolute;
  background-color: white;
}
.page-links::before {
  top: 0;
  right: -23px;
  height: 100%;
  width: 3px;
}
.page-links::after {
  transform: translateY(-50%);
  top: 50%;
  right: -31px;
  height: 3px;
  width: 20px;
}

.social-media {
  ul {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
