.footer-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 30px 50px;
  height: 200px;
  background-color: var(--primary-dark);
  color: #fff;

  a {
    color: #eee;
  }
}

.page-links,
.social-media {
  h3 {
    text-align: center;
    margin: 10px auto 20px;
  }

  ul {
    display: grid;
    justify-items: center;
    align-content: flex-start;
  }

  li {
    text-decoration: underline;
  }
}

.page-links {
  position: relative;
  ul {
    grid-template-columns: repeat(1, 1fr);
  }
}

.social-media {
  ul {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
