.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 50px 0;
  height: fit-content;
  background-color: var(--footer-bg-color);
  * {
    color: var(--footer-color);
  }
}

.social-media {
  h3 {
    text-align: center;
    margin: 10px auto 20px;
  }

  ul {
    display: grid;
    align-content: flex-start;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }

  li {
    text-decoration: underline;
  }
}

.copy {
  color: var(--footer-color);
  text-align: center;
  margin: 5px auto;
}
