.form {
  margin: 40px auto;
  padding: 20px 40px;
  border-radius: 25px;
  max-height: max-content;
  max-width: max-content;
  min-height: 300px;
  min-width: 500px;
  background-color: #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;

  h1,
  h2 {
    color: #333;
    margin: 20px 0 10px;
  }

  input {
    display: inline-block;
    width: 100%;
    min-height: 3em;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    border: none;
  }

  input#title {
    font-weight: 500;
  }

  textarea {
    background-color: #fff;
    border-radius: 15px;
    border: none;
    resize: none;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 18px;
    width: 100%;
  }

  button {
    border: 2px solid #000;
    background-color: #fff;
    height: 3em;
    width: max-content;
    margin: 5px 0 5px auto;
    border: none;
    padding: 10px 50px;
    font-weight: 600;
    font-size: 20px;
    display: block;
    letter-spacing: 1px;
    border-radius: 10px;
    transition: 300ms;
  }
  button:hover {
    padding: 10px 80px;
  }

  p {
    margin: 20px 0 0;
    font-size: 12px;
  }

  a {
    text-decoration: underline;
    color: var(--accent-color);
  }

  .form-helper-buttons {
    margin: -10px 0 20px;
    width: 100%;
    text-align: left;
  }

  hr {
    width: 80%;
    height: 2px;
    background-color: #fff;
    margin: 15px auto;
  }
}

.new-pool-form {
  .vote-field {
    width: 100%;
    display: grid;
    grid-template-columns: 80px auto;
    justify-items: center;
    align-content: center;
    gap: 30px;

    input[type="file"] {
      display: block;
      font-size: 10px;
      margin: 0 auto;
      height: 100%;
      width: 100%;
    }
  }
}

@keyframes buttonAnimation {
  35% {
    transform: translateX(0px);
  }
  40% {
    transform: translateX(5px);
  }
  45% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  55% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  65% {
    transform: translateX(0px);
  }
}
