.pools-title {
  text-align: center;
  font-size: 36px;
  margin: 50px auto -20px;
  font-weight: 500;
}

.pools-home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 150px;
  padding: 30px 30px 40px;
  border-radius: 25px;
  column-gap: 25px;
  row-gap: 20px;
  border: none;
  background-color: #dadada;
}
