@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");

:root {
  --accent-color: #425dd8;
  --primary-dark: #151e46;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  text-decoration: none;
  list-style-type: none;
  outline: none;

  a {
    color: #000;
  }
}

body {
  background-color: var(--accent-color);
  min-height: calc(100vh - 260px);
}

body > section {
  min-height: calc(100vh - 260px);
}

h1,
h2,
h3 {
  color: #fff;
}

.page-in-information-state {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  padding: 50px;
  min-width: 300px;
  max-width: fit-content;
  background-color: #e2e2e2;

  * {
    color: #000;
  }
}
