.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 90px;
  background-color: var(--header-bg-color);
  padding: 0 30px;
  * {
    color: var(--header-color);
    text-decoration: underline;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  a {
    color: var(--header-color);
  }
}

.navbar-container a {
  text-decoration: none;
}
