.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 60px;
  background-color: #fff;
  padding: 0 30px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }

  a {
    color: black;
  }
}

.navbar-container a {
  text-decoration: none;
}
