.pools-title {
  text-align: center;
  font-size: 24px;
  margin: 80px 0 -30px;
}

.pools-container {
  display: block;
  padding: 30px 20px;
  margin: 50px 100px;
  border-radius: 15px;
  background-color: #eee;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 30px;

    li {
      min-width: 300px;
    }
  }
}

.listed-pool {
  display: inline-block;
  text-align: left;
  min-height: 100px;
  max-height: fit-content;
  border-radius: 10px;
  padding: 20px 20px 40px;
  min-width: 300px;
  width: 100%;
  background-color: #fff;

  .title {
    font-size: 20px;
  }

  .author {
    color: #222;
    font-size: 12px;
  }

  .created-date {
    font-size: 10px;
  }
}
